In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.84-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.26 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: pandas>=0.24.0 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: numpy>=1.15 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: six>=1.5 in /Users/naokismacbookair/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.84
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [3]:
aapl = yf.Ticker("AAPL")

In [9]:
days = 50
hist = aapl.history(period = f"{days}d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-19 00:00:00-04:00,173.029999,173.740005,171.309998,171.520004,70346300,0,0
2022-08-22 00:00:00-04:00,169.690002,169.860001,167.139999,167.570007,69026800,0,0
2022-08-23 00:00:00-04:00,167.080002,168.710007,166.649994,167.229996,54147100,0,0
2022-08-24 00:00:00-04:00,167.320007,168.110001,166.250000,167.529999,53841500,0,0
2022-08-25 00:00:00-04:00,168.779999,170.139999,168.350006,170.029999,51218200,0,0
2022-08-26 00:00:00-04:00,170.570007,171.050003,163.559998,163.619995,78961000,0,0
2022-08-29 00:00:00-04:00,161.149994,162.899994,159.820007,161.380005,73314000,0,0
2022-08-30 00:00:00-04:00,162.130005,162.559998,157.720001,158.910004,77906200,0,0
2022-08-31 00:00:00-04:00,160.309998,160.580002,157.139999,157.220001,87991100,0,0
2022-09-01 00:00:00-04:00,156.639999,158.419998,154.669998,157.960007,74229900,0,0
2022-09-02 00:00:00-04:00,159.750000,160.360001,154.970001,155.809998,76905200,0,0
2022-09-06 00:00:00-04:00,156.470001,157.089996,153.690002,154.529999,73714800,0,0
2022-09-07 00:00:00-04:00,154.820007,156.669998,153.610001,155.960007,87449600,0,0
2022-09-08 00:00:00-04:00,154.639999,156.360001,152.679993,154.460007,84923800,0,0
2022-09-09 00:00:00-04:00,155.470001,157.820007,154.750000,157.369995,68028800,0,0
2022-09-12 00:00:00-04:00,159.589996,164.259995,159.300003,163.429993,104956000,0,0
2022-09-13 00:00:00-04:00,159.899994,160.539993,153.369995,153.839996,122656600,0,0
2022-09-14 00:00:00-04:00,154.789993,157.100006,153.610001,155.309998,87965400,0,0
2022-09-15 00:00:00-04:00,154.649994,155.240005,151.380005,152.369995,90481100,0,0
2022-09-16 00:00:00-04:00,151.210007,151.350006,148.369995,150.699997,162157000,0,0
2022-09-19 00:00:00-04:00,149.309998,154.559998,149.100006,154.479996,81474200,0,0
2022-09-20 00:00:00-04:00,153.399994,158.080002,153.080002,156.899994,107689800,0,0
2022-09-21 00:00:00-04:00,157.339996,158.740005,153.600006,153.720001,101696800,0,0
2022-09-22 00:00:00-04:00,152.380005,154.470001,150.910004,152.740005,86652500,0,0
2022-09-23 00:00:00-04:00,151.190002,151.470001,148.559998,150.429993,95939200,0,0
2022-09-26 00:00:00-04:00,149.660004,153.770004,149.639999,150.770004,93339400,0,0
2022-09-27 00:00:00-04:00,152.740005,154.720001,149.949997,151.759995,84442700,0,0
2022-09-28 00:00:00-04:00,147.639999,150.639999,144.839996,149.839996,146691400,0,0
2022-09-29 00:00:00-04:00,146.100006,146.720001,140.679993,142.479996,128138200,0,0
2022-09-30 00:00:00-04:00,141.279999,143.100006,138.000000,138.199997,124705400,0,0
2022-10-03 00:00:00-04:00,138.210007,143.070007,137.690002,142.449997,114311700,0,0
2022-10-04 00:00:00-04:00,145.029999,146.220001,144.259995,146.100006,87830100,0,0
2022-10-05 00:00:00-04:00,144.070007,147.380005,143.009995,146.399994,79471000,0,0
2022-10-06 00:00:00-04:00,145.809998,147.539993,145.220001,145.429993,68402200,0,0
2022-10-07 00:00:00-04:00,142.539993,143.100006,139.449997,140.089996,85859100,0,0
2022-10-10 00:00:00-04:00,140.419998,141.889999,138.570007,140.419998,74899000,0,0
2022-10-11 00:00:00-04:00,139.899994,141.350006,138.220001,138.979996,77033700,0,0
2022-10-12 00:00:00-04:00,139.130005,140.360001,138.160004,138.339996,70433700,0,0
2022-10-13 00:00:00-04:00,134.990005,143.589996,134.369995,142.990005,113224000,0,0
2022-10-14 00:00:00-04:00,144.309998,144.520004,138.190002,138.380005,88512300,0,0
2022-10-17 00:00:00-04:00,141.070007,142.899994,140.270004,142.410004,85250900,0,0
2022-10-18 00:00:00-04:00,145.490005,146.699997,140.610001,143.750000,99136600,0,0
2022-10-19 00:00:00-04:00,141.690002,144.949997,141.500000,143.860001,61758300,0,0
2022-10-20 00:00:00-04:00,143.020004,145.889999,142.649994,143.389999,64522000,0,0
2022-10-21 00:00:00-04:00,142.869995,147.850006,142.649994,147.270004,86464700,0,0
2022-10-24 00:00:00-04:00,147.190002,150.229996,146.000000,149.449997,75981900,0,0
2022-10-25 00:00:00-04:00,150.089996,152.490005,149.360001,152.339996,74732300,0,0
2022-10-26 00:00:00-04:00,150.960007,151.990005,148.039993,149.350006,88194300,0,0
2022-10-27 00:00:00-04:00,148.070007,149.050003,144.130005,144.800003,109180200,0,0
2022-10-28 00:00:00-04:00,148.199997,157.500000,147.820007,155.740005,164659100,0,0

In [10]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-08-19 00:00:00-04:00,173.029999,173.740005,171.309998,171.520004,70346300,0,0
1,2022-08-22 00:00:00-04:00,169.690002,169.860001,167.139999,167.570007,69026800,0,0
2,2022-08-23 00:00:00-04:00,167.080002,168.710007,166.649994,167.229996,54147100,0,0
3,2022-08-24 00:00:00-04:00,167.320007,168.110001,166.250000,167.529999,53841500,0,0
4,2022-08-25 00:00:00-04:00,168.779999,170.139999,168.350006,170.029999,51218200,0,0
5,2022-08-26 00:00:00-04:00,170.570007,171.050003,163.559998,163.619995,78961000,0,0
6,2022-08-29 00:00:00-04:00,161.149994,162.899994,159.820007,161.380005,73314000,0,0
7,2022-08-30 00:00:00-04:00,162.130005,162.559998,157.720001,158.910004,77906200,0,0
8,2022-08-31 00:00:00-04:00,160.309998,160.580002,157.139999,157.220001,87991100,0,0
9,2022-09-01 00:00:00-04:00,156.639999,158.419998,154.669998,157.960007,74229900,0,0
10,2022-09-02 00:00:00-04:00,159.750000,160.360001,154.970001,155.809998,76905200,0,0
11,2022-09-06 00:00:00-04:00,156.470001,157.089996,153.690002,154.529999,73714800,0,0
12,2022-09-07 00:00:00-04:00,154.820007,156.669998,153.610001,155.960007,87449600,0,0
13,2022-09-08 00:00:00-04:00,154.639999,156.360001,152.679993,154.460007,84923800,0,0
14,2022-09-09 00:00:00-04:00,155.470001,157.820007,154.750000,157.369995,68028800,0,0
15,2022-09-12 00:00:00-04:00,159.589996,164.259995,159.300003,163.429993,104956000,0,0
16,2022-09-13 00:00:00-04:00,159.899994,160.539993,153.369995,153.839996,122656600,0,0
17,2022-09-14 00:00:00-04:00,154.789993,157.100006,153.610001,155.309998,87965400,0,0
18,2022-09-15 00:00:00-04:00,154.649994,155.240005,151.380005,152.369995,90481100,0,0
19,2022-09-16 00:00:00-04:00,151.210007,151.350006,148.369995,150.699997,162157000,0,0
20,2022-09-19 00:00:00-04:00,149.309998,154.559998,149.100006,154.479996,81474200,0,0
21,2022-09-20 00:00:00-04:00,153.399994,158.080002,153.080002,156.899994,107689800,0,0
22,2022-09-21 00:00:00-04:00,157.339996,158.740005,153.600006,153.720001,101696800,0,0
23,2022-09-22 00:00:00-04:00,152.380005,154.470001,150.910004,152.740005,86652500,0,0
24,2022-09-23 00:00:00-04:00,151.190002,151.470001,148.559998,150.429993,95939200,0,0
25,2022-09-26 00:00:00-04:00,149.660004,153.770004,149.639999,150.770004,93339400,0,0
26,2022-09-27 00:00:00-04:00,152.740005,154.720001,149.949997,151.759995,84442700,0,0
27,2022-09-28 00:00:00-04:00,147.639999,150.639999,144.839996,149.839996,146691400,0,0
28,2022-09-29 00:00:00-04:00,146.100006,146.720001,140.679993,142.479996,128138200,0,0
29,2022-09-30 00:00:00-04:00,141.279999,143.100006,138.000000,138.199997,124705400,0,0
30,2022-10-03 00:00:00-04:00,138.210007,143.070007,137.690002,142.449997,114311700,0,0
31,2022-10-04 00:00:00-04:00,145.029999,146.220001,144.259995,146.100006,87830100,0,0
32,2022-10-05 00:00:00-04:00,144.070007,147.380005,143.009995,146.399994,79471000,0,0
33,2022-10-06 00:00:00-04:00,145.809998,147.539993,145.220001,145.429993,68402200,0,0
34,2022-10-07 00:00:00-04:00,142.539993,143.100006,139.449997,140.089996,85859100,0,0
35,2022-10-10 00:00:00-04:00,140.419998,141.889999,138.570007,140.419998,74899000,0,0
36,2022-10-11 00:00:00-04:00,139.899994,141.350006,138.220001,138.979996,77033700,0,0
37,2022-10-12 00:00:00-04:00,139.130005,140.360001,138.160004,138.339996,70433700,0,0
38,2022-10-13 00:00:00-04:00,134.990005,143.589996,134.369995,142.990005,113224000,0,0
39,2022-10-14 00:00:00-04:00,144.309998,144.520004,138.190002,138.380005,88512300,0,0
40,2022-10-17 00:00:00-04:00,141.070007,142.899994,140.270004,142.410004,85250900,0,0
41,2022-10-18 00:00:00-04:00,145.490005,146.699997,140.610001,143.750000,99136600,0,0
42,2022-10-19 00:00:00-04:00,141.690002,144.949997,141.500000,143.860001,61758300,0,0
43,2022-10-20 00:00:00-04:00,143.020004,145.889999,142.649994,143.389999,64522000,0,0
44,2022-10-21 00:00:00-04:00,142.869995,147.850006,142.649994,147.270004,86464700,0,0
45,2022-10-24 00:00:00-04:00,147.190002,150.229996,146.000000,149.449997,75981900,0,0
46,2022-10-25 00:00:00-04:00,150.089996,152.490005,149.360001,152.339996,74732300,0,0
47,2022-10-26 00:00:00-04:00,150.960007,151.990005,148.039993,149.350006,88194300,0,0
48,2022-10-27 00:00:00-04:00,148.070007,149.050003,144.130005,144.800003,109180200,0,0
49,2022-10-28 00:00:00-04:00,148.199997,157.500000,147.820007,155.740005,164659100,0,0

In [11]:
hist_msft = yf.Ticker("MSFT").history(period = f"{days}d")
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-19 00:00:00-04:00,288.899994,289.250000,285.559998,286.149994,20570000,0,0
2022-08-22 00:00:00-04:00,282.079987,282.459991,277.220001,277.750000,25061100,0,0
2022-08-23 00:00:00-04:00,276.440002,278.859985,275.399994,276.440002,17527400,0,0
2022-08-24 00:00:00-04:00,275.410004,277.230011,275.109985,275.790009,18137000,0,0
2022-08-25 00:00:00-04:00,277.329987,279.019989,274.519989,278.850006,16583400,0,0

In [12]:
pd.concat([hist,hist_msft],axis =1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2022-08-19 00:00:00-04:00,173.029999,173.740005,171.309998,171.520004,70346300,0,0,288.899994,289.250000,285.559998,286.149994,20570000,0,0
2022-08-22 00:00:00-04:00,169.690002,169.860001,167.139999,167.570007,69026800,0,0,282.079987,282.459991,277.220001,277.750000,25061100,0,0
2022-08-23 00:00:00-04:00,167.080002,168.710007,166.649994,167.229996,54147100,0,0,276.440002,278.859985,275.399994,276.440002,17527400,0,0
2022-08-24 00:00:00-04:00,167.320007,168.110001,166.250000,167.529999,53841500,0,0,275.410004,277.230011,275.109985,275.790009,18137000,0,0
2022-08-25 00:00:00-04:00,168.779999,170.139999,168.350006,170.029999,51218200,0,0,277.329987,279.019989,274.519989,278.850006,16583400,0,0

In [15]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-19 00:00:00-04:00,173.029999,173.740005,171.309998,171.520004,70346300,0,0
2022-08-22 00:00:00-04:00,169.690002,169.860001,167.139999,167.570007,69026800,0,0
2022-08-23 00:00:00-04:00,167.080002,168.710007,166.649994,167.229996,54147100,0,0

In [17]:
hist.index = hist.index.strftime("%d %B %Y")

In [18]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
19 August 2022,173.029999,173.740005,171.309998,171.520004,70346300,0,0
22 August 2022,169.690002,169.860001,167.139999,167.570007,69026800,0,0
23 August 2022,167.080002,168.710007,166.649994,167.229996,54147100,0,0
24 August 2022,167.320007,168.110001,166.250000,167.529999,53841500,0,0
25 August 2022,168.779999,170.139999,168.350006,170.029999,51218200,0,0

In [21]:
hist = hist[["Close"]]
hist.columns = ["apple"]
hist.head()

                     apple
Date
19 August 2022  171.520004
22 August 2022  167.570007
23 August 2022  167.229996
24 August 2022  167.529999
25 August 2022  170.029999

In [23]:
hist = hist.T

In [24]:
 hist.index.name = "Name"

In [25]:
hist

Date,19 August 2022,22 August 2022,23 August 2022,24 August 2022,25 August 2022,26 August 2022,29 August 2022,30 August 2022,31 August 2022,01 September 2022,...,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,,
apple,171.520004,167.570007,167.229996,167.529999,170.029999,163.619995,161.380005,158.910004,157.220001,157.960007,...,142.410004,143.75,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005

In [40]:
#まとめ


def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():

        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period = f"{days}d")
        hist.index = hist.index.strftime("%d %B %Y")
        hist = hist[["Close"]]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = "Name"
        df = pd.concat([df, hist])
    return df

In [42]:
days = 2000
tickers = {
    "Apple": "AAPL",
    "Microsoft":"MSFT",
    "META": "META",
    "Tesla": "TSLA",
    "Amazon": "AMZN",
    "Google": "GOOGL", 
    "Netflix": "NFLX"
}

get_data(days, tickers)

Date,19 November 2014,20 November 2014,21 November 2014,24 November 2014,25 November 2014,26 November 2014,28 November 2014,01 December 2014,02 December 2014,03 December 2014,...,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,,
Apple,25.847702,26.217371,26.253443,26.740324,26.508154,26.823730,26.807945,25.937866,25.838690,26.131721,...,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
Microsoft,42.204300,42.624416,41.994240,41.652901,41.547867,41.792927,41.845444,42.554405,42.414364,42.081768,...,237.529999,238.500000,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995
META,73.330002,73.599998,73.750000,74.010002,75.629997,77.620003,77.699997,75.099998,75.459999,74.879997,...,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997
Tesla,16.516001,16.580667,16.185333,16.448000,16.539333,16.562668,16.301332,15.442667,15.428667,15.286667,...,219.350006,220.190002,222.039993,207.279999,214.440002,211.250000,222.419998,224.639999,225.089996,228.520004
Amazon,16.327000,16.527000,16.631500,16.782000,16.752001,16.678499,16.931999,16.299999,16.315500,15.825000,...,113.790001,116.360001,115.070000,115.250000,119.320000,119.820000,120.599998,115.660004,110.959999,103.410004
Google,27.360001,27.188000,27.294500,27.374001,27.461500,27.386499,27.454000,26.982500,26.929501,26.848499,...,99.970001,100.769997,99.629997,99.970001,101.129997,102.519997,104.480003,94.930000,92.220001,96.290001
Netflix,51.871429,52.591431,51.468571,50.924286,49.855713,50.165714,49.512856,48.830002,50.330002,50.731430,...,245.100006,240.860001,272.380005,268.160004,289.570007,282.450012,291.019989,298.619995,296.940002,295.720001

In [44]:
aapl = yf.Ticker("AAPL")

In [52]:
#Altair
!pip3 install altair

Collecting altair
  Using cached altair-4.2.0-py3-none-any.whl (812 kB)
Collecting entrypoints
  Using cached entrypoints-0.4-py3-none-any.whl (5.3 kB)
Collecting toolz
  Using cached toolz-0.12.0-py3-none-any.whl (55 kB)
Collecting pandas>=0.18
  Using cached pandas-1.3.5.tar.gz (4.7 MB)
  Installing build dependencies ... error
  error: subprocess-exited-with-error

  × pip subprocess to install build dependencies did not run successfully.
  │ exit code: 2
  ╰─> [95 lines of output]
      Collecting setuptools>=51.0.0
        Using cached setuptools-65.5.0-py3-none-any.whl (1.2 MB)
      Collecting wheel
        Using cached wheel-0.37.1-py2.py3-none-any.whl (35 kB)
      Collecting Cython<3,>=0.29.24
        Using cached Cython-0.29.32-py2.py3-none-any.whl (986 kB)
      Collecting oldest-supported-numpy>=0.10
        Using cached oldest_supported_numpy-2022.8.16-py3-none-any.whl (3.9 kB)
      Collecting numpy==1.21.0
        Using cached numpy-1.21.0.zip (10.3 MB)
        Installing build dependencies: started
        Installing build dependencies: finished with status 'done'
        Getting requirements to build wheel: started
        Getting requirements to build wheel: finished with status 'done'
      ERROR: Exception:
      Traceback (most recent call last):
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/cli/base_command.py", line 160, in exc_logging_wrapper
          status = run_func(*args)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/cli/req_command.py", line 247, in wrapper
          return func(self, options, args)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/commands/install.py", line 401, in run
          reqs, check_supported_wheels=not options.target_dir
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/resolver.py", line 93, in resolve
          collected.requirements, max_rounds=try_to_avoid_resolution_too_deep
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/resolvelib/resolvers.py", line 481, in resolve
          state = resolution.resolve(requirements, max_rounds=max_rounds)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/resolvelib/resolvers.py", line 373, in resolve
          failure_causes = self._attempt_to_pin_criterion(name)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/resolvelib/resolvers.py", line 213, in _attempt_to_pin_criterion
          criteria = self._get_updated_criteria(candidate)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/resolvelib/resolvers.py", line 204, in _get_updated_criteria
          self._add_to_criteria(criteria, requirement, parent=candidate)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/resolvelib/resolvers.py", line 172, in _add_to_criteria
          if not criterion.candidates:
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/resolvelib/structs.py", line 151, in __bool__
          return bool(self._sequence)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py", line 155, in __bool__
          return any(self)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py", line 143, in <genexpr>
          return (c for c in iterator if id(c) not in self._incompatible_ids)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/found_candidates.py", line 47, in _iter_built
          candidate = func()
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/factory.py", line 211, in _make_candidate_from_link
          version=version,
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 303, in __init__
          version=version,
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 162, in __init__
          self.dist = self._prepare()
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 231, in _prepare
          dist = self._prepare_distribution()
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/resolution/resolvelib/candidates.py", line 308, in _prepare_distribution
          return preparer.prepare_linked_requirement(self._ireq, parallel_builds=True)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/operations/prepare.py", line 491, in prepare_linked_requirement
          return self._prepare_linked_requirement(req, parallel_builds)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/operations/prepare.py", line 582, in _prepare_linked_requirement
          self.check_build_deps,
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/operations/prepare.py", line 70, in _get_prepared_distribution
          finder, build_isolation, check_build_deps
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/distributions/sdist.py", line 48, in prepare_distribution_metadata
          self._install_build_reqs(finder)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/distributions/sdist.py", line 118, in _install_build_reqs
          build_reqs = self._get_build_requires_wheel()
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/distributions/sdist.py", line 95, in _get_build_requires_wheel
          return backend.get_requires_for_build_wheel()
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_internal/utils/misc.py", line 685, in get_requires_for_build_wheel
          return super().get_requires_for_build_wheel(config_settings=cs)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/pep517/wrappers.py", line 174, in get_requires_for_build_wheel
          'config_settings': config_settings
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/pep517/wrappers.py", line 319, in _call_hook
          raise BackendUnavailable(data.get('traceback', ''))
      pip._vendor.pep517.wrappers.BackendUnavailable: Traceback (most recent call last):
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 77, in _build_backend
          obj = import_module(mod_path)
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/importlib/__init__.py", line 127, in import_module
          return _bootstrap._gcd_import(name[level:], package, level)
        File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
        File "<frozen importlib._bootstrap>", line 983, in _find_and_load
        File "<frozen importlib._bootstrap>", line 953, in _find_and_load_unlocked
        File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
        File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
        File "<frozen importlib._bootstrap>", line 983, in _find_and_load
        File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
        File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
        File "<frozen importlib._bootstrap_external>", line 728, in exec_module
        File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
        File "/private/var/folders/9j/g3nm72s54g5df75_4gzcrxth0000gn/T/pip-build-env-c2woposr/overlay/lib/python3.7/site-packages/setuptools/__init__.py", line 23, in <module>
          from setuptools.dist import Distribution
        File "/private/var/folders/9j/g3nm72s54g5df75_4gzcrxth0000gn/T/pip-build-env-c2woposr/overlay/lib/python3.7/site-packages/setuptools/dist.py", line 34, in <module>
          from setuptools import windows_support
        File "/private/var/folders/9j/g3nm72s54g5df75_4gzcrxth0000gn/T/pip-build-env-c2woposr/overlay/lib/python3.7/site-packages/setuptools/windows_support.py", line 2, in <module>
          import ctypes
        File "/Users/naokismacbookair/.pyenv/versions/3.7.9/lib/python3.7/ctypes/__init__.py", line 7, in <module>
          from _ctypes import Union, Structure, Array
      ModuleNotFoundError: No module named '_ctypes'

      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× pip subprocess to install build dependencies did not run successfully.
│ exit code: 2
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [53]:
import altair as alt

In [54]:
df

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
Apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.750000,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
Microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.500000,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995
META,138.610001,140.279999,138.979996,139.070007,133.449997,133.789993,128.539993,127.500000,130.289993,126.760002,134.039993,132.800003,133.229996,131.529999,130.009995,129.720001,137.509995,129.820007,97.940002,99.199997
Tesla,242.399994,249.440002,240.809998,238.130005,223.070007,222.960007,216.500000,217.240005,221.720001,204.990005,219.350006,220.190002,222.039993,207.279999,214.440002,211.250000,222.419998,224.639999,225.089996,228.520004
Amazon,115.879997,121.089996,120.949997,120.300003,114.559998,113.669998,112.209999,112.900002,112.529999,106.900002,113.790001,116.360001,115.070000,115.250000,119.320000,119.820000,120.599998,115.660004,110.959999,103.410004
Google,98.639999,101.639999,101.430000,101.419998,98.680000,97.860001,97.180000,97.559998,99.059998,96.559998,99.970001,100.769997,99.629997,99.970001,101.129997,102.519997,104.480003,94.930000,92.220001,96.290001
Netflix,239.039993,240.740005,236.729996,240.020004,224.750000,229.979996,214.289993,220.869995,232.509995,230.000000,245.100006,240.860001,272.380005,268.160004,289.570007,282.450012,291.019989,298.619995,296.940002,295.720001

In [77]:
companies = ["Apple", "Microsoft"]
data = df.loc[companies]
data

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
Apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.75,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
Microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.50,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995

In [78]:
data.sort_index()

Date,03 October 2022,04 October 2022,05 October 2022,06 October 2022,07 October 2022,10 October 2022,11 October 2022,12 October 2022,13 October 2022,14 October 2022,17 October 2022,18 October 2022,19 October 2022,20 October 2022,21 October 2022,24 October 2022,25 October 2022,26 October 2022,27 October 2022,28 October 2022
Name,,,,,,,,,,,,,,,,,,,,
Apple,142.449997,146.100006,146.399994,145.429993,140.089996,140.419998,138.979996,138.339996,142.990005,138.380005,142.410004,143.75,143.860001,143.389999,147.270004,149.449997,152.339996,149.350006,144.800003,155.740005
Microsoft,240.740005,248.880005,249.199997,246.789993,234.240005,229.250000,225.410004,225.750000,234.240005,228.559998,237.529999,238.50,236.479996,236.149994,242.119995,247.250000,250.660004,231.320007,226.750000,235.869995

In [79]:
data = data.T.reset_index()
data.head()

Name             Date       Apple   Microsoft
0     03 October 2022  142.449997  240.740005
1     04 October 2022  146.100006  248.880005
2     05 October 2022  146.399994  249.199997
3     06 October 2022  145.429993  246.789993
4     07 October 2022  140.089996  234.240005

In [80]:
data = pd.melt(data, id_vars=["Date"]).rename(
    columns={"value": "Stock Price(USD)"})

In [81]:
data.head()

              Date   Name  Stock Price(USD)
0  03 October 2022  Apple        142.449997
1  04 October 2022  Apple        146.100006
2  05 October 2022  Apple        146.399994
3  06 October 2022  Apple        145.429993
4  07 October 2022  Apple        140.089996

In [96]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip = True)
    .encode(
        x = "Date:T",
        y = alt.Y("Stock Price(USD):Q", stack = None, scale = alt.Scale(domain=[100, 300])),
        color = "Name:N"
    )
)

In [97]:
chart

alt.Chart(...)